.BackButton {
  width: 100%;
  height: auto;
  background-color: #6b6969;
  text-decoration: none;
  padding: 1em;
}
a {
  text-decoration: none;
}
.bb {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: aliceblue;
  font-weight: bold;
}
