.card {
  width: 300px;
  max-height: 200px;
  border: solid black 1px;
  border-radius: 6px;
  padding: 4px;
  transition: duration 1s;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0.5rem;
  box-sizing: border-box;
}
.img {
  background: rgb(189, 174, 157);
  width: 100%;
  height: 100%;
}
.text_box {
  bottom: 0%;
  width: 100%;
  height: 20%;
  display: block;
  position: relative;
  z-index: 2;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.4);
}
.card:hover {
  width: 330px;
  height: 220px;
  border: solid rgb(178, 221, 138) 3px;
  box-shadow: outset rgba(178, 221, 138, 0.582);
}
/* .card:hover .img
{
    
    transform: scale(1.1);
} */
.card:hover .text_box {
  font-size: 33px;
}

img {
  max-width: 100%;
  height: auto;
}
